.homeSection {
  background-image: url(./img/header.jpg);
  background-size: cover;
  background-position: 25% 25%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fluid {
  max-width: 99%;
}

.logo {
  width: 3.4em;
}

div.homeSlogan {
  transform: translateY(-120%);
  color: rgb(189, 178, 178);
}

.navbarmenu {
  position: absolute;
  width: 100vw;
  background: transparent;
}

a.nav-link {
  color: #fff !important;
}

.btn {
  margin-right: 10px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

button.navbar-toggler {
  background-color: rgb(204, 201, 201);
}
